label{
  display: block;
}
table th,table caption,.highlight-column-text{
    text-transform: capitalize;
    text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff; 
    font-weight: bold;
    font-size: 1.1em ;
    text-align: right;
}
table{
  margin-top: 20px;
}
.highlight-rows tr:hover{
    box-shadow: 0 0 4px 4px #c3e0f3 ;
    -webkit-box-shadow: 0 0 4px 4px #c3e0f3 ;
    -moz-box-shadow: 0 0 4px 4px #c3e0f3 ;
    box-shadow: 0 0 4px 4px #c3e0f3 ;
}
.formalize-column-text a {
    font-style:oblique;
    text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff; 
    color:black;
    text-align: right;

}
.n-gram-number{
  text-align: center;
  color:#014489;
  margin: 30px;
}


.query-item{
  height: 150px;
  background-color: #eee;
  /*margin-left: 1%;*/
  border: 1px solid #ccc;
}
.form-item{
  width: 70%;
  margin: 10px 0px 10px 10%;
}
.errors{
  color: red;
  text-align: center;
  margin-top: 30px;
}
.centered-row{
  /*margin: auto 15%;*/
}



.high{
    border:1px red solid !important;
}









